p{
    color: crimson;
    font-size: medium;
    background-color: rgb(13, 199, 53);
    padding: 50px;
    margin: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    letter-spacing: 30px;
    text-align: justify;
    line-height: 50px;
}

